<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://www.xbox.com/en-GB/games/senuas-saga-hellblade-II">Senua's Saga: Hellblade II (Ninja Theory, TBA)</a></strong>
			- The sequel to the critically acclaimed <i>Hellblade: Senua's Sacrifice</i> released in 2017. Releasing on PC, and Xbox Series X and S.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://project-mara.com/">Project: Mara (Ninja Theory, TBA)</a></strong>
			- An experimental title focusing heavily upon a grounded and accurate portrayal of mental terror based on first-hand accounts and research.
		</h5>
    	<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="https://theinsightproject.com/">The Insight Project (Ninja Theory, TBA)</a></strong>
			- In collaboration with the University of Cambridge, <i>The Insight Project</i> is a multi-disciplinary research and development effort focused
			upon promoting mental well-being through the use of individual game experiences.
		</h5>
    </div>
  </div>
</div>
</section>
